KEYWORDS=python,junior,javascript
CITY=kraków,warszawa
REMOTE=False
MIN_SALARY=1000
EXPERIENCE=junior
SKIP_NO_SALARY=False

SKIP_FILTERS=True
REFRESH_RATE=20 # time in seconds

USE_PROXIES=False
DISCORD_WEBHOOK=https://discord.com/api/webhooks/...
